

 .open-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: ;
    padding: 10px 160px 10px 160px;
}
.btn-primary{
    width: 116px;
    height: 52px;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 106, 80);
}
.title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 600;
    
}
.sub-title{
    font-size: 56px;
    font-weight: 700;
    color: rgb(14, 14, 14);
}
.banner{
    display: flex;
    background: rgb(198, 228, 214);
    border-radius: 24px;
    margin: 20px 100px;
    
padding: 80px 100px 80px 100px;
}
.skill-container{
    display: flex;
    gap: 24px;
  
}
.skill-discription{
    font-size: 160x;
    font-weight: 400;
    color: rgb(117,117,117);
}
.skills{
    margin-top: 80px;
}
.skill{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
}
.short{
    margin-top: 80px;
    gap: 24px;
}
.skill-port{
    display: flex;
    gap: 24px;
    padding: 32px;
}


main{
    margin: 20px 100px;
}
.btn{
    background-color: rgb(9, 161, 92);
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: none;
   padding: 11px 20px 11px 20px;
   border-radius: 8px;
}.btn:hover{
    background-color: blueviolet;
}
.section-content{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 48px 24px 48px 24px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 0px 24px;

}
.yunus{
    margin-top: 12px;
}
.title-up{
    margin-top:-35px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
}
.title-up2{
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
    margin: 4px 0px;
    
}
.satelite{
    display: flex;
    gap: 32px;
}
.blog{
    padding: 48px;
    background-color: rgb(255, 255, 255);
    margin: 24px 0px;
    border-radius: 24px;
}
.section-contents{
    display: flex;
    gap: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 48px 24px 48px 24px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 12px 0px;
}
.profile-1{
    border-radius: 24px;
    margin: 0px 32px;

}
.hello-1{
 text-align: center;
}
.btn-3{
 text-align: center;
 gap: 24px;
 padding: 40px;
 font-size: 40px;
 font-weight: 700;
border-radius: 16px;
}
.hello{
    background-color: aqua;
    text-align: center;
 gap: 24px;
 padding: 40px;
 font-size: 40px;
 font-weight: 700;
border-radius: 16px;

}
.section-hello{
    margin-top: 80px;
}
form{
 text-align: center;
 padding: 20px 40px 20px 40px;
 border-bottom: 1px solid rgba(14, 14, 14, 0.15);
 margin-top: -10px;
 align-items: center;
 
}
input{
    margin-top: 30px;
    text-align: center;
    display: flex;
    margin: 20px 100px;
    width: 1032px;
    margin: 0 auto;
    height: 64px;
}
.hi{
    
    color: white;
    font-size: 14px;
    background-color: rgb(9, 161, 92);
    color: white;
  
    font-weight: 400;
    border: none;
   padding: 11px 20px 11px 20px;
margin-left: 3px;
margin-right: 3px;
   padding: 5px 2px 5px 2px;
   border-radius: 8px;
   margin: 32px 0px;
   text-align: center;
}
footer{
    text-align: center;
    background: rgb(198, 228, 214);
padding: 80px 100px 80px 100px;
margin: 20px 100px;
border-radius: 24px;
margin-top: 80px;
}

.doli{
    margin-top: 80px;
}
.flex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;

}

.Now{
    background-color: rgb(0, 106, 80);
    justify-content: center;
    align-items: center;
    padding: 17px 34px 17px 34px;
    color: white ;
    border-radius: 5px;
    border: none;
}
.center{
    text-align: center;
}
.display{
    display: flex;
}
.gr{
    border: none;
    border-radius: 15px;
    background-color: chartreuse;
    color: white;
}
.mina{
    border-radius: 10px;
    background-color:  rgb(0, 106, 80);
    color: white;
}
.rohit{
    border-radius: 10px;
    background-color: antiquewhite;
}
 .survey-table { 
    width: 90%;
     border-collapse: collapse; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 .survey-table th, .survey-table td { 
  padding: 15px; 
  text-align: left; 
 border-bottom: 1px solid #ddd; 
} 
.survey-table th {
  background-color: #e0f7e0; 
}
  .survey-table td { 
   background-color: #fff; 
}
.survey-table select { 
  padding: 5px; 
  font-size: 14px;
 }
 .Now:hover{
    background-color: yellowgreen;
 }
 .sr{
    margin-top: 80px;
 }
.at{
    margin-top: 80px;
}
.mina:hover{
    background-color: aqua;
}

.nr{
justify-items: center;
margin-top: 80px;
margin-bottom: 30px;
padding: 50px 160px 50px 160px;

}